*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
      background-color: #f9f6f2;
}
.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
.card{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
  padding: 25px;
  margin-top: -15px;
}
.btn-primary{
  border-radius: 50px;
  width: 120px;
}
.btn-primary:hover{
  background-color: black;
  border: none;
}
h3,h5{
  color: rgb(0, 91, 228);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}

.notification-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1050;
}

.ticket-wrapper {
  margin-top: 20px;
}

.ticket {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.ticket-info {
  width: 70%;
  border-right: 3px dashed #080808;
  padding-right: 10px; /* Memberikan padding agar garis putus-putus tidak terlalu dekat dengan teks */
}

.ticket-status {
  width: 25%;
  padding: 10px; /* Memberikan padding agar garis putus-putus tidak terlalu dekat dengan teks */
}

.qr-code {
  margin-top: 10px;
  text-align: center;
}

.qr-code svg {
  max-width: 100%;
  height: auto;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ticket-actions .btn {
border-radius: 0; 
width: 60px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container .btn {
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.wrapper {
  padding: 20px;
  margin-top: 20px;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(148, 168, 216, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper #jumlahPendaki {
  color: #176B87;
}

.divider {
  border-top: 1px solid #000000;
  margin: 10px 0;
}
ol {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

ol li {
  margin-bottom: 10px;
}

ol li span {
  font-size: 1.5em;
  font-weight: bold;
  color: #0a0a0a;
}


@media (max-width: 768px) {
  /* Gaya CSS untuk lebar layar <= 768px */
  .navbar img {
      width: 250px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  ol {
    padding: 5px;
    margin-left: -10px;
    font-size: 20px;
  }

  ol li {
    margin-bottom: 5px;
  }

  ol li span {
    font-size: 1em;
    font-weight: bold;
    color: #0a0a0a;
  }

  .card img {
    width: 100% !important;
  }
}
